button {
    border: none;
    border-radius: 5px;
    background: #26C2AE;
    color: #00474B;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    outline: none;
}

.reset-btn {

}

button:active {
    background: #9FE8DF;
}

button:disabled {
    background: #0D686D;
}

.reset {
    text-transform: uppercase;
    padding: 9px 40px;
}