.tip-calculator {
    display: flex;
    padding: 2em;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.20);
}

.calculation-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 3em;
    padding-left: 1em;
    max-width: 380px;
}

.calculation-container h3 {
    color: #5E7A7D;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
}

.summary-container {
    width: 100%;
    padding: 40px;
    border-radius: 15px;
    background: #00474B;
}