.tips .tip-title {
    margin-bottom: 16px;
}

.tip-buttons-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 14px;
    row-gap: 16px;
}

@media screen and (min-width: 735px) and (max-width: 920px) {
    .tip-buttons-wrapper {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16.5px;
    }
}

@media screen and (max-width: 500px) {
    .tip-buttons-wrapper {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16.5px;
    }
}

.tip-buttons {
    background: #00474B;
    color: #FFF;
    font-size: 24px;
}

.tip-percentage {
    height: 46px;
}

.tip-buttons:active {
    color: #00474B;
}

.tip-custom::placeholder {
    font-size: 22.7px;
    text-align: center;
    color: #547878;
    opacity: .5;
    padding-right: 0;
}

.selected-button {
    color: #00474B;
    background: #26C2AE;
}