.tip-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
}

.tip-buttons {
    background: #00474B;
    color: #FFF;
    font-size: 23px;
}

.tip-percentage {
    width: 117px;
    height: 48px;
}

.tip-custom {
    color: #547878;
}

.tip-custom::placeholder {
    font-size: 22.7px;
    text-align: center;
    color: #547878;
    opacity: 1;
    padding-right: 0;
}