.tips .tip-title {
    margin-bottom: 16px;
}

.tip-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 14px;
    row-gap: 16px;
}

@media screen and (max-width: 734px) {
    .tip-buttons-wrapper {
        column-gap: 16.5px;
    }
}

.tip-buttons {
    background: #00474B;
    color: #FFF;
    font-size: 24px;
}

.tip-buttons:active {
    color: #00474B;
}

.tip-percentage {
    width: 117px;
    height: 48px;
}

@media screen and (max-width: 734px) {
    .tip-percentage {
        width: 46.7%;
    }
}

.tip-custom::placeholder {
    font-size: 22.7px;
    text-align: center;
    color: #547878;
    opacity: .5;
    padding-right: 0;
}

.selected {
    color: #00474B;
    background: #26C2AE;
}